<h1>Import Recipe Form</h1>

<form action="/scrap">
  <label for="keyword">What is the keyword for search?</label><br>
  <input type="text" id="keyword" name="keyword"><br><br>
  <input type="submit" value="Submit">
</form>
